<% if user_signed_in? %>
	<%=link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
<%end%>

<p></p>

<div class="row">
	<div class="col-md-12">
		<%if @articles.present? %>
			<table class='table table-bordered'>
				<thead>
					<tr>
						<th width='30%'>Title</th>
						<th>Body</th>
					</tr>
				</thead>

				<% @articles.each do |article| %>
					<tr>
						<td>
							<%= link_to article.title, article_path(article) %>
							<p>Created by: <%= article.user.email %></p>
						</td>
						<td><%= truncate(article.body, length: 250) %></td>
					</tr>
				<%end%>
			</table>
		<%else%>
			<h1 id="no-articles">No articles created </h1>
		<%end%>
	</div>
</div>