<article class="article-detail">
	<h1 class="article-detail-title"><%=@article.title%></h1>
	<div class="glyphicon glyphicon-calendar" id="article-date">
			<%=@article.created_at.strftime('%b %d %Y')%>
	</div>
	<div class="article-show-body">
		<%=@article.body%>
	</div>
	<% if user_signed_in? && current_user == @article.user%>
		<%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-lg btn-primary btn-space' %>
		<%= link_to 'Delete Article', article_path(@article), method: :delete, class: 'btn btn-lg btn-danger btn-space' %>
	<%end%>
</article>