@import "bootstrap-sprockets";
@import "bootstrap";

.article-detail {
  margin-top: 20px;
}

.article-detail-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.article-show-body {
  font-size: 1.5em;
  padding-left: 0em;
  margin-top: 15px;
}

.edit-delete {
  margin-top: 20px;
}

#error_explanation{
	color: red;
}

