<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog app</a>
          </div>
          <div id="navbar1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Authors</a></li>
              <% if !user_signed_in? %>
                <li class=""><%= link_to 'Sign up', new_user_registration_path %></li>
                <li class=""><%= link_to 'Sign in', new_user_session_path %></li>
              <%end%>
              <% if user_signed_in? %>
                <li class=""><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
              <%end%>
            </ul> 
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |key, message| %>
            <div class="alert <%=flash_class(key)%>">
              <%=message%>
            </div>
          <%end%>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
